<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table is-striped mx-auto is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Vorname</th>
                <th>Stadt</th>
                <th>Price</th>
                <th></th>
               
            </div>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(order){ %>
                <tr>
                    <td>
                        <%= order.id %>
                    </td>
                    <td>
                        <%= order.name %>
                    </td>
                    <td>
                        <%= order.vorname %>
                    </td>
                    <td>
                        <%= order.stadt %>
                    </td>
                    <td>
                        <%= order.price %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>
</html>